@import "~react-image-gallery/styles/css/image-gallery.css";

header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  right: 0px;
  overflow: hidden;
  background-color: #274472;
  color: #ffffff;
  text-align: center;
  font-size: 5vh;
}

section {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: auto;
  background-color: #ffffff;
  color: #274472;
  padding: 30px;
  display: flex;
}

footer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  background-color: #274472;
  color: #ffffff;
  text-align: center;
  font-size: 2vh;
}

#connect {
  position: absolute;
  bottom: 60px;
  height: 30px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  text-align: center;
  font-size: 2vh;
}

#connect input {
  width: 20%;
  margin-right: 10px;
}

#options,
#image {
  padding: 10px;
  overflow: auto;
  border: 1px solid #c3e0e5;
  border-radius: 5px;
  margin: 5px;
}

#options {
  width: 20%;
}
#image {
  width: 80%;
}

#image-original {
  max-width: 100%;
  object-fit: contain;
  margin: 0px auto;
  display: block;
  height: 100%;
  vertical-align: middle;
}

#image div {
  display: flex;
  height: 100%;
  /* max-width: 100%; */
}

.image-gallery-svg {
  height: 60px !important;
  width: 60px !important;
}

.options-inner {
  margin: 25px 10px;
}

.options-label {
  font-weight: bold;
  margin: 10px auto;
}
